<% provide(:title, @shop_user.first_name + "'s Dashboard") %>
<div class = "container-fluid">
	<div class="col-sm-12">
		<p>
			Name: <%= @shop_user.first_name %><br>Email: <%= @shop_user.email %>
		</p>
	</div>
</div>
