<% provide(:title, "Forgot Password") %>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
  	<h2 class="text-center main-headline">Forgot Password</h2>
    <br>

    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email, class: 'hidden' %>
      <%= f.email_field :email, class: 'signup-form', :placeholder => 'Email' %>
      <br>
      <br>
      <%= f.submit "Submit", class: "btn btn-auth-form" %>
    <% end %>
  </div>
</div>