
<%= form_for @invoice, html: { multipart: true } do |f| %>
    <%= f.file_field :invoice_image, {class: "input-invoice"} %>
    <label for="invoice_invoice_image"><i class="fa fa-camera fa-5x" style="color:#52BB49;" aria-hidden="true"></i></label>
    <div class="row" style="padding-top:20%;">
    <%= f.submit "Submit", {class: "btn btn-custom-2 button-text-style", style:"width:50%;"}%>
	</div>
    <% end %>
