<p>Hey <%= @car_owner.name %>,</p>

<p>
We've started processing your request, and we'll be working on scheduling your repair. You'll be able to follow the status of your request under the scheduled repairs section of your dashboard. 
</p>

Thanks,

Innvoy Team