<% provide(:title, "About") %>

<div class = "container-fluid about-container hidden-xs">
	<div class = "row">
		<div class = "col-sm-6 about-left-title">
			About
		</div>
		<div class = "col-sm-5 about-right-text">
			We believe in giving car owners leverage when it comes to their car repair experience. 
		</div>
	</div>
</div>

<div class = "container-fluid about-container visible-xs">
	<div class = "row">
		<div class = "col-sm-6 about-left-title-small">
			About
		</div>
		<div class = "col-sm-5 about-right-text-small">
			We believe in giving car owners leverage when it comes to their car repair experience. 
		</div>
	</div>
</div>
 
<hr class = "line-split">

<div class = "container-fluid">
	<div class = "row">
		<div class = "col-sm-6 col-sm-offset-3 about-us-text">
			<p>
				The auto repair industry is one of the least transparent consumer facing industries in existence. Most people will ask friends and family if they know any honest mechanics whenever their car breaks down or they'll start shopping around for quotes. Innvoy isn't here to send you quotes for your repair because in the end you still don't know if any of those quotes are fairly priced.
			</p> 
			<p>
				We're here to show you exactly what others are paying for their repairs and where they got the job done. Only then can you can determine if you are truly paying a fair price for a car repair. We help you find the shop that offers the best price, quality, and fastest service for your repair. With a better car repair experience you can get back on the road without all the hassle that comes with finding the right mechanic.
			</p>
		</div>
	</div>
</div>

<hr class = "line-split">

<div class = "container-fluid more-about-container hidden-xs">
	<div class = "row">
		<div class = "col-sm-3 col-sm-offset-1 more-about-us-text">
			More About Us
		</div>
		<div class = "col-sm-4">
			<a target="_blank" href="http://www.builtinchicago.org/2015/05/01/uic-startup-makes-sure-mechanics-cant-rip-you">
				<%= image_tag("builtin-chicago-logo.png", alt: 'Built In Chicago', class: "logo-img img-responsive") %>
			</a>
		</div>
		<div class = "col-sm-4 inno-img">
			<a target="_blank" class = "more-about-us-link" href="http://chicagoinno.streetwise.co/2015/04/20/uics-challenge-2-venture-recap-anautomy-wins-venture-challenge/">
				<%= image_tag("chicagoinno-logo.png", width: '335', alt: 'Chicago Inno', class: "logo-img img-responsive") %>
			</a>
		</div>
	</div>
</div>


<div class = "container-fluid more-about-container visible-xs">

	<div class = "row">
		<div class = "col-sm-3 col-sm-offset-1 more-about-us-text-xs">
			More About Us
		</div>
		<div class = "col-sm-4">
			<%= link_to image_tag('builtin-chicago-logo.png', alt: 'Built In Chicago', class: "logo-img-xs img-responsive img-center"), 'http://www.builtinchicago.org/2015/05/01/uic-startup-makes-sure-mechanics-cant-rip-you', target: '_blank' %>

		</div>
		<div class = "col-sm-4 inno-img">
			<%= link_to image_tag('chicagoinno-logo.png', width: '335', alt: 'Chicago Inno', class: "logo-img-xs img-responsive img-center"), 'http://chicagoinno.streetwise.co/2015/04/20/uics-challenge-2-venture-recap-anautomy-wins-venture-challenge/', target: '_blank' %>
		</div>
	</div>
</div>

<script>


  $(document).ready(function() {

  			$('.closed_header_tooltip').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'click',
              position: 'bottom'
            });
            
            $('.under_construction_header_tooltip').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'click',
              position: 'bottom'
            });

            $('.under_construction_footer_tooltip').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'click',
              position: 'bottom'
            });
        });

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62238284-1', 'auto');
  ga('send', 'pageview');
 </script>