<div class = "container-fluid about-container hidden-xs">
	<div class = "row">
		<div class = "col-sm-6 about-left-title">
			About
		</div>
		<div class = "col-sm-5 about-right-text">
			We believe in giving car owners leverage when it comes to their car repair experience. 
		</div>
	</div>
</div>

<div class = "container-fluid about-container visible-xs">
	<div class = "row">
		<div class = "col-sm-6 about-left-title-small">
			About
		</div>
		<div class = "col-sm-5 about-right-text-small">
			We believe in giving car owners leverage when it comes to their car repair experience. 
		</div>
	</div>
</div>
 
<hr class = "line-split">

<div class = "container-fluid">
	<div class = "row">
		<div class = "col-sm-6 col-sm-offset-3 about-us-text">
			<p>The auto repair industry is one of the least transparent consumer facing industries that exists. Most people will ask friends and family if they know any honest mechanics whenever their car breaks down. Anautomy is not here to send you quotes for your repair from nearby shops, you don't even know if any of those quotes are a fair price.</p> 
			<p>Anautomy is here to help show you what other people are paying for their repairs and  where they got it done. Then you can determine if you are truly getting a good price for the repair and get your car back on the road.</p>
		</div>
	</div>
</div>

<hr class = "line-split">

<div class = "container-fluid more-about-container hidden-xs">
	<div class = "row">
		<div class = "col-sm-3 col-sm-offset-1 more-about-us-text">
			More About Us
		</div>
		<div class = "col-sm-4">
			<a target="_blank" href="http://www.builtinchicago.org/2015/05/01/uic-startup-makes-sure-mechanics-cant-rip-you">
				<%= image_tag("builtin-chicago-logo.png", alt: 'Built In Chicago', class: "logo-img img-responsive") %>
			</a>
		</div>
		<div class = "col-sm-4 inno-img">
			<a target="_blank" class = "more-about-us-link" href="http://chicagoinno.streetwise.co/2015/04/20/uics-challenge-2-venture-recap-anautomy-wins-venture-challenge/">
				<%= image_tag("chicagoinno-logo.png", width: '335', alt: 'Chicago Inno', class: "logo-img img-responsive") %>
			</a>
		</div>
	</div>
</div>


<div class = "container-fluid more-about-container visible-xs">

	<div class = "row">
		<div class = "col-sm-3 col-sm-offset-1 more-about-us-text-xs">
			More About Us
		</div>
		<div class = "col-sm-4">
			<%= link_to image_tag('builtin-chicago-logo.png', alt: 'Built In Chicago', class: "logo-img-xs img-responsive img-center"), 'http://www.builtinchicago.org/2015/05/01/uic-startup-makes-sure-mechanics-cant-rip-you', target: '_blank' %>

		</div>
		<div class = "col-sm-4 inno-img">
			<%= link_to image_tag('chicagoinno-logo.png', width: '335', alt: 'Chicago Inno', class: "logo-img-xs img-responsive img-center"), 'http://chicagoinno.streetwise.co/2015/04/20/uics-challenge-2-venture-recap-anautomy-wins-venture-challenge/', target: '_blank' %>
		</div>
	</div>
</div>