<div class = "container-fluid about-container hidden-xs">
	<div class = "row">
		<div class = "col-sm-6 about-left-title">
			Occassionally Asked Questions
		</div>
		<div class = "col-sm-5 about-right-text">
			Here are some answers to questions we get every now and then. 
		</div>
	</div>
</div>

<div class = "container-fluid about-container visible-xs">
	<div class = "row">
		<div class = "col-sm-6 about-left-title-small">
			Occassionally Asked Questions
		</div>
		<div class = "col-sm-5 about-right-text-small">
			Here are some answers to questions we get every now and then. 
		</div>
	</div>
</div>
 
<hr class = "line-split">
<br>
<br>
<div class = "container-fluid">
	<div class = "row">
		<div class = "col-sm-6 col-sm-offset-3 question-text">
			<p class = "question-text">
				Is it free?
			<p>
			<p class = "answer-text">
				Anautomy is free to use. As a user you are given limitless access to all car repair information. 
			<p>
		</div>
	</div>
	<div class = "row">
		<div class = "col-sm-3"></div>
		<div class = "col-sm-6">
			<hr class = "line-split">
		</div>
		<div class = "col-sm-3"></div>
	</div>
	<div class = "row">
		<div class = "col-sm-6 col-sm-offset-3 question-text">
			<p class = "question-text">
				How do I sign up?
			<p>
			<p class = "answer-text">
				 Currently, you are only able to submit your email for access to our early launch. Invitations will be emailed to access the platform as we approach our early launch.
			<p>
		</div>
	</div>
	<div class = "row">
		<div class = "col-sm-3"></div>
		<div class = "col-sm-6">
			<hr class = "line-split">
		</div>
		<div class = "col-sm-3"></div>
	</div>
	<div class = "row">
		<div class = "col-sm-6 col-sm-offset-3 question-text">
			<p class = "question-text">
				How do I contribute?
			<p>
			<p class = "answer-text">
				If you have ever gone through a car repair experience, we would love for you to share information about your experience. More information on how to share your experience will be announced. <a href = "/home#signup">Submit</a> your email to stay updated.
			<p>
		</div>
	</div>
	<div class = "row">
		<div class = "col-sm-3"></div>
		<div class = "col-sm-6">
			<hr class = "line-split">
		</div>
		<div class = "col-sm-3"></div>
	</div>
	<div class = "row">
		<div class = "col-sm-6 col-sm-offset-3 question-text">
			<p class = "question-text">
				What is the meaning of life?
			<p>
			<p class = "answer-text">
				Man, we're still working on this one.
			<p>
		</div>
	</div>
	<div class = "row">
		<div class = "email-qs-text col-sm-12">Any other questions? Email <%= mail_to "questions@anautomybeta.com"%> </div>
	</div>
</div>

<script>


  $(document).ready(function() {
            $('.under_construction_header_tooltip').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'click',
              position: 'bottom'
            });

            $('.under_construction_footer_tooltip').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'click',
              position: 'bottom'
            });
        });

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62238284-1', 'auto');
  ga('send', 'pageview');
 </script>