<div class="container-fluid">

        <div class="row">
            

            <div class="col-sm-6 left-col">
                 <div class = "container-fluid">
                    <h5 class = "newSearchTitle"> CAR SELECT </h5>

                <div class = "row">
    <div class="col-sm-6">
                <section id="basic">

            <select class="basic" select data-custom-id="custom" data-custom-class="custom" data-size="3" data-placeholder-option="true">
                <option value="one">Make</option>
                <option value="one">BMW</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <!--<optgroup label="Option Group Label">
                    <option value="group.one">Option Group.One</option>
                    <option value="group.two">Option Group.Two</option>
                </optgroup>-->
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>

            <select class="basic" select data-custom-id="custom" data-custom-class="custom" data-size="3" data-placeholder-option="true">
                <option value="one">Model</option>
                <option value="one">M3</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <!--<optgroup label="Option Group Label">
                    <option value="group.one">Option Group.One</option>
                    <option value="group.two">Option Group.Two</option>
                </optgroup>-->
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>

            <select class="basic" select data-custom-id="custom" data-custom-class="custom" data-size="3" data-placeholder-option="true">
                <option value="one">Year</option>
                <option value="one">2003</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <!--<optgroup label="Option Group Label">
                    <option value="group.one">Option Group.One</option>
                    <option value="group.two">Option Group.Two</option>
                </optgroup>-->
                <option value="four">Four</option>
                <option value="five">Five</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>

            <select class="basic" select data-custom-id="custom" data-custom-class="custom" data-size="3" data-placeholder-option="true">
                <option value="one">Trim</option>
                <option value="one">SMG</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <!--<optgroup label="Option Group Label">
                    <option value="group.one">Option Group.One</option>
                    <option value="group.two">Option Group.Two</option>
                </optgroup>-->
                <option value="four">Four</option>
                <option value="five">Five</option>
            </select>

    </section>
</div>
<div class="col-sm-6">
    <br>
<div class = "searchForm">
<div class="input-group">
  <input class="form-control" type="text">
  <span><i class="fa fa-search searchButton"></i></span>
</div>
</div>
</div>

</div>

<br>
<br>
<br>
<h5 class = "searchResultsTitle"> COMMON SERVICES AND REPAIRS FOR 2003 BMW M3 SMG </h5>
  <div id="repairCategories">
  <h3><span class = "repairCategoryTitle">ENGINE </span><span class = "totalSubmissionsTextMain">(Total 108 Submissions)</span><i class="fa fa-angle-right mainCategoryIcon"></i></h3>
  <div>
    <div id="engineRepairs">


  <h4><ul class = "specificRepairCategoryTitle">Fuel Injector Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-sm-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-sm-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-sm-5 repairRangePositioning">
    <input type="text" id="range" value="" name="range" />
</div>
</div>
<a href = "repair"><i class="fa fa-caret-right repairIcon"></i></a>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Fuel Pump Replacement  <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range2" value="" name="range" />
</div>
</div>
<a href = "repair"><i class="fa fa-caret-right repairIcon"></i></a>
  </div>
  


  <h4><ul class = "specificRepairCategoryTitle">Head Gasket(s) Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range3" value="" name="range" />
</div>
</div>
<a href = "repair"><i class="fa fa-caret-right repairIcon"></i></a>
  </div>



  <h4><ul class = "specificRepairCategoryTitle">Ignition Coil Replacement <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div class = "conatiner-fluid"> 
    <div class = "row repairDetailsPositioning">
    <div class = "col-xs-4">
    <p class="text-center repairCostBox"><span>Total Average Cost</span><span class = "repairCostBoxPrice">$836</span></p>
</div>
<div class = "col-xs-3">
    <p class="text-center repairCostBox" ><span>Parts/Labor</span><span class = "repairCostBoxPrice">$260/$576</span></p>
</div>
<p class = "text-center">Price Range</p>
<div class = "col-xs-5 repairRangePositioning">
     <input type="text" id="range4" value="" name="range" />
</div>
</div>
<a href = "repair"><i class="fa fa-caret-right repairIcon"></i></a>
  </div>

</div>
  </div>

  <h3><span class = "repairCategoryTitle">EXHAUST &amp; EMISSIONS</span><span class = "totalSubmissionsTextMain">(Total 72 Submissions)</span><i class="fa fa-angle-right mainCategoryIcon"></i></h3>
  <div>
    <div id="exhaustEmissionsRepairs"> 
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    Repair Details<a href = "repair"><i class="fa fa-caret-right repairIcon"></i></a>
  </div>
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    Repair Details<a href = "repair"><i class="fa fa-caret-right repairIcon"></i></a>
  </div>
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details</p>
  </div>
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details</p>
  </div>
</div>
  </div>
  <h3><span class = "repairCategoryTitle">BRAKES</span><span class = "totalSubmissionsTextMain">(Total 72 Submissions)</span><i class="fa fa-angle-right mainCategoryIcon"></i></h3>
  <div>
    <div id="brakesRepairs"> 
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details</p>
  </div>
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details</p>
  </div>
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details</p>
  </div>
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details</p>
  </div>
</div>
  </div>
  <h3><span class = "repairCategoryTitle">ELECTRICAL &amp; LIGHTS </span><span class = "totalSubmissionsTextMain">(Total 72 Submissions)</span><i class="fa fa-angle-right mainCategoryIcon"></i></h3>
  <div>
    <div id="electricalLightsRepairs"> 
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details<i class="fa fa-chevron-right"></i></p>
  </div>
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details</p>
  </div>
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details</p>
  </div>
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details</p>
  </div>
</div>
  </div>
  <h3><span class = "repairCategoryTitle">SUSPENSION &amp; STEERING </span><span class = "totalSubmissionsTextMain">(Total 72 Submissions)</span><i class="fa fa-angle-right mainCategoryIcon"></i></h3>
  <div>
    <div id="suspensionSteeringRepairs">
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details</p>
  </div>
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details</p>
  </div>
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details</p>
  </div>
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details</p>
  </div>
</div>
  </div>
  <h3><span class = "repairCategoryTitle">HEATING &amp; AIR CONDITIONING </span><span class = "totalSubmissionsTextMain">(Total 72 Submissions)</span><i class="fa fa-angle-right mainCategoryIcon"></i></h3>
  <div>
     <div id="suspensionSteeringRepairs"> 
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details</p>
  </div>
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details</p>
  </div>
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details</p>
  </div>
  <h4><ul>Test <span class = "totalSubmissionsText">(Total 108 Submissions)</span></ul></h4>
  <div>
    <p>Repair Details</p>
  </div>

  </div>
</div>
</div>
<br>
<br>
<br>

</div>
      </div>
      <div class="col-sm-6 right-col backgroundVehicleImage">

        <div class="my-container ">
            <div class = "topBlock text-center">
                <h2 class = "rightHeader">2003 BMW M3 SMG</h2>
                <p class="carDatabox"><span class = "categoryHeader">Owner Rating</span><span class = "carData">4.5/5</span></p>
                        <p class="carDatabox"><span class = "categoryHeader">Maintenance Rating</span><span class = "carData">$$$</span></p>
                        <p class="carDatabox"><span class = "categoryHeader">5 year cost to own</span><span class = "carData">145,000</span></p>
                        <p class="carDatabox"><span class = "categoryHeader">Enter Miles for Average KBB Value</span><span class = "carData">KBB Value: $11,536</span></p>
            </div>
            <div class = "bottomBlock text-center">
               <div class = "centerLine"></div>
                <div class = "leftBlock">
                    <h5 class = "subHeader">2003 BMW M3 REVIEWS</h5>
                <p class="bottomCarDatabox"><span class = "categoryHeader">Car &amp; Driver</span><span class = "bottomCarData">8.8/10</span></p>
                <p class="bottomCarDatabox"><span class = "categoryHeader">Car Guru's</span><span class = "bottomCarData">4.8/5</span></p>
            </div>
            <div class = "rightBlock">
                <h5 class = "subHeader">RELATED VEHICLES</h5>
                <p class="bottomCarDatabox"><span class = "categoryHeader">Audi A4</span><span class = "bottomCarData">4.2/5</span></p>
                <p class="bottomCarDatabox"><span class = "categoryHeader">Mercedes C-Class</span><span class = "bottomCarData">4.5/5</span></p>
            </div>
            </div>
    <%= image_tag("mesh.png" ,class: "img-responsive") %>
    <%= image_tag("black.png" ,class: "img-responsive") %>

</div>


  </div>
  <!--<p class="repairCostBox"><span>Owner Rating</span><span class = "repairCostBoxPrice">4.5/5</span></p>
                        <p class="repairCostBox"><span>Maintenance Rating</span><span class = "repairCostBoxPrice">$$$</span></p>
                        <p class="repairCostBox"><span>5 year cost to own</span><span class = "repairCostBoxPrice">145,000</span></p>
                        <p class="repairCostBox"><span>Enter Miles for Average KBB Value</span><span class = "repairCostBoxPrice">KBB Value: $11,536</span></p>-->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->