<% provide(:title, "Repair Scheduling Information") %>
<style>
.sr-info-text{
	color:#545E69;
	font-size: 1.3em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

}

.btn-service-request{
  font-size: 1.2em;
  height: 50px;
  padding-top: 14px;
  margin-bottom: 15px;
  background: rgba(82, 187, 73, 1) !important;
  opacity: 1;
  border: 1px solid #FFFFFF;
  color: #FFFFFF !important;
}

</style>
<div class = "container-fluid about-container hidden-xs">
	<div class = "row">
		<div class = "col-sm-6 about-left-title">
			Repair Scheduling
		</div>
		<div class = "col-sm-5 about-right-text">
			Our flagship service that makes getting your car repaired easy and stress-free.
		</div>
	</div>
</div>

<div class = "container-fluid about-container visible-xs">
	<div class = "row">
		<div class = "col-sm-6 about-left-title-small">
			Repair Scheduling
		</div>
		<div class = "col-sm-5 about-right-text-small">
			Our flagship service that makes getting your car repaired easy and stress-free.
		</div>
	</div>
</div>
 
<div class = "container-fluid">
	<hr class = "line-split">
	<div class = "row">
		<div class = "col-sm-6">
			<h3 class="text-center">Scheduling your Repair</h3>
			<div class = "row">
				<div class = "col-sm-10 col-sm-offset-1">
					<p class="sr-info-text text-center">
						Select a pickup location, select your car, select your repair, and a preferred day/time. That's it.
					</p> 
				</div>
			</div>
		</div>
		<div class = "col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-4">
			<i class="fa fa-check-square-o" aria-hidden="true" style="font-size:9em; color:#45B13A;"></i>
		</div>
	</div>

	<hr class = "line-split">
	<div class = "row">
		<div class = "col-sm-6">
			<h3 class="text-center">Finding the Shop</h3>
			<div class = "row">
				<div class = "col-sm-10 col-sm-offset-1">
					<p class="sr-info-text text-center">
						We contact shops in your area to find the one that offers the best value for your repair. We handle scheduling the repair at a time that works for you.
					</p> 
				</div>
			</div>
		</div>
		<div class = "col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-4">
			<i class="fa fa-building-o" aria-hidden="true" style="font-size:9em; color:#45B13A;"></i>
		</div>
	</div>

	<hr class = "line-split">
	<div class = "row">
		<div class = "col-sm-6">
			<h3 class="text-center">The Driver</h3>
			<div class = "row">
				<div class = "col-sm-10 col-sm-offset-1">
					<p class="sr-info-text text-center">
						We'll assign your scheduled repair to a driver who coordinates the key hand-off with you. The driver will arrive at your pickup location to deliver your car to the shop.
					</p> 
				</div>
			</div>
		</div>
		<div class = "col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-4">
			<i class="fa fa-address-card-o" aria-hidden="true" style="font-size:9em; color:#45B13A;"></i>
		</div>
	</div>

	<hr class = "line-split">
	<div class = "row">
		<div class = "col-sm-6">
			<h3 class="text-center">Approve the Work</h3>
			<div class = "row">
				<div class = "col-sm-10 col-sm-offset-1">
					<p class="sr-info-text text-center">
						You have full control over the work done on your car.
					</p> 
				</div>
			</div>
		</div>
		<div class = "col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-4">
			<i class="fa fa-list-ol" aria-hidden="true" style="font-size:9em; color:#45B13A;"></i>
		</div>
	</div>

	<hr class = "line-split">
	<div class = "row">
		<div class = "col-sm-6">
			<h3 class="text-center">Delivering your Car</h3>
			<div class = "row">
				<div class = "col-sm-10 col-sm-offset-1">
					<p class="sr-info-text text-center">
						We deliver your car back to the pickup location and hand you the invoice. We include a $20 service fee that helps pay your driver.
					</p> 
				</div>
			</div>
		</div>
		<div class = "col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-4">
			<i class="fa fa-car" aria-hidden="true" style="font-size:9em; color:#45B13A;"></i>
		</div>
	</div>

	<hr class = "line-split">
	<div class = "row">
		<div class = "col-sm-6">
			<h3 class="text-center">Your Car and Safety</h3>
			<div class = "row">
				<div class = "col-sm-10 col-sm-offset-1">
					<p class="sr-info-text text-center">
						We value the safety of your car. Our drivers are strictly required to have a clean driving record. That means no moving violations, suspensions, or at fault accidents.
					</p> 
				</div>
			</div>
		</div>
		<div class = "col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-4">
			<i class="fa fa-id-card-o" aria-hidden="true" style="font-size:9em; color:#45B13A;"></i>
		</div>
	</div>

	<hr class = "line-split">
	<div class = "row">
		<div class="col-sm-4 col-sm-offset-4 col-xs-12">
            <%= link_to 'Schedule Repair', new_service_request_path, class: 'center-block btn btn-service-request mp-new-service-request'%>
        </div>
    </div>

</div>

<script>

mixpanel.track("Repair Scheduling Information Page");
  
 </script>