<% provide(:title, "Service Requests Information") %>
<style>
.sr-info-text{
	color:#545E69;
	font-size: 1.3em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

}

.btn-service-request{
  font-size: 1.2em;
  height: 50px;
  padding-top: 14px;
  margin-bottom: 15px;
  background: rgba(82, 187, 73, 1) !important;
  opacity: 1;
  border: 1px solid #FFFFFF;
  color: #FFFFFF !important;
}

</style>
<div class = "container-fluid about-container hidden-xs">
	<div class = "row">
		<div class = "col-sm-6 about-left-title">
			Service Requests
		</div>
		<div class = "col-sm-5 about-right-text">
			Our flagship service that makes getting your car repaired easy and stress-free.
		</div>
	</div>
</div>

<div class = "container-fluid about-container visible-xs">
	<div class = "row">
		<div class = "col-sm-6 about-left-title-small">
			Service Requests
		</div>
		<div class = "col-sm-5 about-right-text-small">
			Our flagship service that makes getting your car repaired easy and stress-free.
		</div>
	</div>
</div>
 
<div class = "container-fluid">
	<hr class = "line-split">
	<div class = "row">
		<div class = "col-sm-6">
			<h3 class="text-center">Creating Your Request</h3>
			<div class = "row">
				<div class = "col-sm-10 col-sm-offset-1">
					<p class="sr-info-text text-center">
						Select a pickup location, select your car, select your repair, and a preferred day/time. That's it.
					</p> 
				</div>
			</div>
		</div>
		<div class = "col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-4">
			<i class="fa fa-check-square-o" aria-hidden="true" style="font-size:9em; color:#45B13A;"></i>
		</div>
	</div>

	<hr class = "line-split">
	<div class = "row">
		<div class = "col-sm-6">
			<h3 class="text-center">The Shop and Repair</h3>
			<div class = "row">
				<div class = "col-sm-10 col-sm-offset-1">
					<p class="sr-info-text text-center">
						We contact shops in your area to find the one that offers the best value for your repair. We then schedule your repair with the shop at a time that works best for you.
					</p> 
				</div>
			</div>
		</div>
		<div class = "col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-4">
			<i class="fa fa-building-o" aria-hidden="true" style="font-size:9em; color:#45B13A;"></i>
		</div>
	</div>

	<hr class = "line-split">
	<div class = "row">
		<div class = "col-sm-6">
			<h3 class="text-center">Your Driver</h3>
			<div class = "row">
				<div class = "col-sm-10 col-sm-offset-1">
					<p class="sr-info-text text-center">
						You're notified once a driver is assigned to your service request. An hour prior to your scheduled repair, your driver will coordinate the key hand-off with you if necessary and arrive at your pickup location to deliver your car to the shop.
					</p> 
				</div>
			</div>
		</div>
		<div class = "col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-4">
			<i class="fa fa-address-card-o" aria-hidden="true" style="font-size:9em; color:#45B13A;"></i>
		</div>
	</div>

	<hr class = "line-split">
	<div class = "row">
		<div class = "col-sm-6">
			<h3 class="text-center">Approve the Work</h3>
			<div class = "row">
				<div class = "col-sm-10 col-sm-offset-1">
					<p class="sr-info-text text-center">
						You have full control over the work done on your car. Any other suggested repairs will be assessed by us and approved by you along with the quoted price.
					</p> 
				</div>
			</div>
		</div>
		<div class = "col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-4">
			<i class="fa fa-list-ol" aria-hidden="true" style="font-size:9em; color:#45B13A;"></i>
		</div>
	</div>

	<hr class = "line-split">
	<div class = "row">
		<div class = "col-sm-6">
			<h3 class="text-center">Delivering Your Car</h3>
			<div class = "row">
				<div class = "col-sm-10 col-sm-offset-1">
					<p class="sr-info-text text-center">
						Once the repair is complete, we deliver your car to the pickup location and hand you the original invoice provided by the shop. We also email a duplicate invoice including our service fee.
					</p> 
				</div>
			</div>
		</div>
		<div class = "col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-4">
			<i class="fa fa-car" aria-hidden="true" style="font-size:9em; color:#45B13A;"></i>
		</div>
	</div>

	<hr class = "line-split">
	<div class = "row">
		<div class = "col-sm-6">
			<h3 class="text-center">Your Car is Safe with Us</h3>
			<div class = "row">
				<div class = "col-sm-10 col-sm-offset-1">
					<p class="sr-info-text text-center">
						Beyond valuing a quality repair experience, we value the safety of your car. Our drivers are required to have a clean driving record. That means no moving violations, suspensions, or at fault accidents.
					</p> 
				</div>
			</div>
		</div>
		<div class = "col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-4">
			<i class="fa fa-id-card-o" aria-hidden="true" style="font-size:9em; color:#45B13A;"></i>
		</div>
	</div>

	<hr class = "line-split">
	<div class = "row">
		<div class="col-sm-4 col-sm-offset-4 col-xs-12">
            <%= link_to 'Create Service Request', new_service_request_path, class: 'center-block btn btn-service-request mp-new-service-request'%>
        </div>
    </div>

</div>

<script>

mixpanel.track("Service Request Information Page");
  
 </script>