<div class="row">
	<div class="col-lg-4">
    <button type="button" class="btn btn-default" >
    	<span class="glyphicon glyphicon-circle-arrow-left"></span>  Return to submission results  </button> 
    </div>
	<div class="col-lg-4">
    <p>&nbsp;</p>
    </div>
    <div class="col-lg-4" style="padding-left:17.5%">
    <button type="button" class="btn btn-default">
    	<span class="glyphicon glyphicon-star"></span>  View all submissions</button></div>
</div>



<div class="row">
	<div class="col-lg-7">    
    <img src="http://i.imgur.com/nlm24n5.jpg" style="border:solid #52bb49">
    
    </div>
	<div class="col-lg-5">
    <img src="http://i.imgur.com/sv8fuUX.png" style="border:solid #52bb49" >
    </div>
    
</div>



<div class="row">
	<div class="col-lg-7"> 
    <h3 style="text-align:center" > Meet The Team</h3>  
    <h4 style="color:#999">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Danny&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Marco&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kate&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vince</h4>
    <img src="http://i.imgur.com/hIaZX78.jpg" class="img-circle" width="125" height="125">
     <img src="http://i.imgur.com/YTOCEhc.jpg" class="img-circle" width="125" height="125">
    <img src="http://i.imgur.com/u8XFQhm.jpg" class="img-circle" width="125" height="125">
    <img src="http://i.imgur.com/cfQTV0A.png" class="img-circle" width="125" height="125">
    <h4  style="color:#999">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shop Owner
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lead Technician&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;Parts Manager&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Body Repair Expert</h4>
    </div>
	<div class="col-lg-5">
    <img src="http://i.imgur.com/9vK7PPF.jpg" style="border:solid #52bb49">
    
    
    
    
    
    </div>
    
    
    
   
</div>


<img src="http://i.imgur.com/vGVWNua.jpg" width="100%" style="margin-top:0px">
<div class="row" style="background-color:#fff">
<div class="col-lg-4">
<div class="list-group" style="margin-left:40%" >
  <button type="button" class="list-group-item"><span style="font-size:17px"> SERVICES </span><br><p style="color:#666">We provide services from repair to restoration.</p></button>
  <button type="button" class="list-group-item"><span style="font-size:17px"> OUR STORY </span><br><p style="color:#666">How Exotic Motorworks was founded.</p></button>
  <button type="button" class="list-group-item"><span style="font-size:17px">USER REVIEWS</span><br><p style="color:#666">What do <span style="color:#52bb49">Anautomy</span> users think?</p></button>
  <button type="button" class="list-group-item"><span style="font-size:17px">SCHEDULE/CONTACT</span><br><p style="color:#666">Set up some time to bring your car into us.</p></button>
  
  
</div>
</div>
<div class="col-lg-8">
<img src="http://i.imgur.com/L3pFiNy.jpg" width="110%" height="341px" style="padding-right:30%" >
</div>

</div>