<% provide(:title, "Transparency") %>

<div class = "container-fluid about-container hidden-xs">
	<div class = "row">
		<div class = "col-sm-6 about-left-title">
			Transparency
		</div>
		<div class = "col-sm-5 about-right-text">
			Our purpose is to bring complete transparency to the car repair industry.
		</div>
	</div>
</div>

<div class = "container-fluid about-container visible-xs">
	<div class = "row">
		<div class = "col-sm-6 about-left-title-small">
			Transparency
		</div>
		<div class = "col-sm-5 about-right-text-small">
			Our purpose is to bring complete transparency to the car repair industry.
		</div>
	</div>
</div>
 
<hr class = "line-split">

<div class = "container-fluid">
	<div class = "row">
		<div class = "col-sm-6 col-sm-offset-3 about-us-text" style="padding-bottom: 100px;">
			<p>
				Our mission is to bring transparency to your car repair experience by providing a community and information. Pricing information available to all car owners and a community driven by those same car owners. 
			</p> 
			<p>
				Through the power of information the anxiety car owners experience from visiting a local shop is relieved, and the feeling of being overcharged subsides. Our purpose won't be without effort, and we hope you <a href = "/home#signup">join us</a> on our mission.
			</p> 
		</div>
	</div>
</div>

<script>

    mixpanel.track("Transparency Page");

  $(document).ready(function() {

  			$('.closed_header_tooltip').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'click',
              position: 'bottom'
            });
            
            $('.under_construction_header_tooltip').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'click',
              position: 'bottom'
            });

            $('.under_construction_footer_tooltip').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'click',
              position: 'bottom'
            });
        });

  
  
 </script>