<% provide(:title, "Transparency") %>

<div class = "container-fluid about-container hidden-xs">
	<div class = "row">
		<div class = "col-sm-6 about-left-title">
			Seamless &amp; Transparent
		</div>
		<div class = "col-sm-5 about-right-text">
			Our purpose is to create a seamless and transparent car repair experience for drivers everywhere.
		</div>
	</div>
</div>

<div class = "container-fluid about-container visible-xs">
	<div class = "row">
		<div class = "col-sm-6 about-left-title-small">
			Seamless &amp; Transparent
		</div>
		<div class = "col-sm-5 about-right-text-small">
			Our purpose is to create a seamless and transparent car repair experience for drivers everywhere.
		</div>
	</div>
</div>
 
<hr class = "line-split">

<div class = "container-fluid">
	<div class = "row">
		<div class = "col-sm-6 col-sm-offset-3 about-us-text" style="padding-bottom: 100px;">
			<p>
				Our mission is to create a seamless and transparent car repair experience by providing a community and information.
			</p> 
			<p>
				<% if logged_in? %>
				Through the power of information the anxiety car owners experience from visiting a local shop is relieved. Our mission won't be without effort, and we hope you join us.
				<% else %>
				Through the power of information the anxiety car owners experience from visiting a local shop is relieved, and the feeling of being overcharged subsides. Our mission won't be without effort, and we hope you <a class="mp-signup-modal" data-toggle="modal" data-target="#signup-modal" href="">join us</a>.
				<% end %>
			</p> 
		</div>
	</div>
</div>

<script>

    mixpanel.track("Transparency Page");

  $(document).ready(function() {

  			$('.closed_header_tooltip').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'click',
              position: 'bottom'
            });
            
            $('.under_construction_header_tooltip').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'click',
              position: 'bottom'
            });

            $('.under_construction_footer_tooltip').tooltipster({
              animation: 'fade',
              delay: 0,
              theme: 'tooltipster-default',
              trigger: 'click',
              position: 'bottom'
            });
        });

  
  
 </script>