<div class = "container-fluid about-container hidden-xs">
	<div class = "row">
		<div class = "col-sm-6 about-left-title">
			Transparency
		</div>
		<div class = "col-sm-5 about-right-text">
			The goal is transparency. 
		</div>
	</div>
</div>

<div class = "container-fluid about-container visible-xs">
	<div class = "row">
		<div class = "col-sm-6 about-left-title-small">
			Transparency
		</div>
		<div class = "col-sm-5 about-right-text-small">
			The goal is transparency.
		</div>
	</div>
</div>
 
<hr class = "line-split">

<div class = "container-fluid">
	<div class = "row">
		<div class = "col-sm-6 col-sm-offset-3 about-us-text">
			<p>Auto repair pricing is one of the least transparent industries in existence. By allowing car owners to interact with other car owners on a broad scale, Anautomy will bring bargaining power to their hands.</p> 
		</div>
	</div>
</div>