<p>Hey <%= @car_owner.name %>,</p>

<p>
Your scheduled repair has been marked as completed. Thank you for using Innvoy to manage your car repairs. If you have moment please let us know what you didn't like or what we could do better about your experience by replying to this email. We read and evaluate all feedback. 
</p>

Thanks,

Innvoy Team