<% provide(:title, "Search Results") %>

<h1>Searches#show</h1>
<p>Find me in app/views/searches/show.html.erb</p>

Location: <%= params[:location]%>
<br>
Repair: <%= @repair.name%>
<br>
Car: <%= params[:car]%>
<br>
IP: <%= @ip%>
