// Place all the styles related to the ServiceRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.service-request-field {
  height: 50px;
  width: 100%;
  font-size: 1.3em;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-left: 10px;
}
.select-car-menu{
  background: transparent;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #2C3E50;
  font-size: 13px;


  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn-auth-form{
  font-size: 1.3em;
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
  background: rgba(82, 187, 73, 1) !important;
  opacity: 1;
  border: 1px solid #FFFFFF;
  color: #FFFFFF !important;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  
  /* CSS Transition */  
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}