<% provide(:title, @car_owner.name + "'s Dashboard") %>
<div class = "container-fluid" style="height:350px;">
	 <div class="col-md-6 col-md-offset-3">
	 	<h2 class = "main-headline text-center">Your Profile</h2>
	 	<p class = "profile-text text-left">This is your profile page. Let us know what you are interested in seeing here. Here you'll be able to add your cars to make searching for repairs easier. We will also include your cars maintenance schedule so you have a better idea when your maintenance and repairs are due based on your cars mileage. This is a community platform so feel free to email us at team@innvoy.com with your suggestions. <a href="/">In the meantime, you can discover the best value for your repairs with a quick search.</a></p>
	 </div>
</div>
