<% provide(:title, @car_owner.name + "'s Dashboard") %>
<div class = "container-fluid">
	<div class="col-sm-12">
		<p>
			Name: <%= @car_owner.name %><br>Email: <%= @car_owner.email %>
		</p>
	</div>
</div>
