<div class = "container-fluid">
    <div class = "row">
    <div class = "email-qs-text col-sm-12">We get better when tell us what you don't like.<br> Email us at <%= mail_to "feedback@innvoy.com" %> with your feedback. 
    </div>
  </div>
</div>