<footer class = "container-fluid">
      <div class="row row-centered">
        <div class="col-sm-6 col-centered"><div class="item"><div class="content"></div></div></div>
        <div class="col-sm-6 col-centered"><div class="item"><div class="content"></div></div></div>
        
        <div class="col-md-3 col-centered">
          <ul class="list-unstyled ">
          <li class = "footerTitle">
            COMPANY
          </li>
          <li>
            <a href = "#aboutus" class = "footerText">About Us</a>
          </li>
          <li>
            <a href = "#faqs" class = "footerText">FAQ's</a>
          </li>
          <li>
            <a href = "#contact" class = "footerText">Contact Us</a>
          </li>
          <li>
            <a href = "#tos" class = "footerText">Terms of Service</a>
          </li>
        </ul>
        </div>
        <div class="col-md-3 col-centered">
          <ul class="list-unstyled">
          <li class = "footerTitle">
            METHODOLOGY
          </li>
          <li>
            <a href = "#how" class = "footerText">How It Works</a>
          </li>
          <li>
            <a href = "#why" class = "footerText">Why It Matters</a>
          </li>
          <li>
            <a href = "#why2" class = "footerText">Why Contribute</a>
          </li>
          <li>
            <a href = "#future" class = "footerText">Future Concepts</a>
          </li>
        </ul>
        </div>
        
        <div class="col-md-3 col-centered">
          <ul class="list-unstyled">
          <li class = "footerTitle ">
            PRESS
          </li>
          <li>
            <a href = "#news" class = "footerText">Latest News</a>
          </li>
          <li>
            <a href = "#blog" class = "footerText">Blog</a>
          </li>
          <li>
            <a href = "#feedback" class = "footerText">Send Us Feedback</a>
          </li>
          <li>
            <a href = "#future" class = "footerText">Future Concepts</a>
          </li>
        </ul>
        </div>
    </div>
      <br>
                <br>
      <hr class = "footerSplit">
      
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 socialPadding">
                    <ul class="list-inline text-center">
                        <li>
                            <a target="_blank" href="https://twitter.com/anautomy">
                                <span class="fa-stack fa-2x socialButton">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x socialIcon"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/Anautomy">
                                <span class="fa-stack fa-2x socialButton">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x socialIcon"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#email">
                                <span class="fa-stack fa-2x socialButton">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope-o fa-stack-1x socialIcon"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
</footer>